body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    
}

div {
    flex: 1 1 0;
    /* border: 1px solid red;
    padding: 1px; */
}
 

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px 10px 30px;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}

.quotediv {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    display: flex;
    
}

.quote {
    flex: none;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 250px;
    font-size: 36px;
    color: #1F2937;
}

.author {
    font-weight: bold;
    align-self: flex-end;
    font-size: 25px;
    flex-grow: 3;
}


.blue-areadiv {
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.bluething {
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 850px;
    height: 150px;
    background-color: #3882F6;
    border-radius: 10px;
    color: #F9FAF8;
}

.actiondiv {
    font-size: 20px;
    font-weight: 550;
    
}

.actiondiv2 {
    color: #E5E7EB;
}

.action-container {
    flex: none;
    display: flex;
    gap: 100px;
}

.signup {
    flex: none;
    width: 120px;
    height: 35px;
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 10px;
    border: 2px solid white;
    font-weight: 700;
    cursor: pointer;
    flex-shrink: 0;
    font-size: 16px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    color: #E5E7EB;
    padding: 15px;
    
}
ul {
     font-size: 18px;
    
    list-style: none;
    display: flex;
    gap: 10px;
    
    padding: 0;
    margin: 0;
    
}

.header a {
    text-decoration: none;
    color: #E5E7EB;
    font-weight: normal;
}

.header, .footer {
    background-color: #1F2937;
}